@import '../../style.scss';


    
    .home{
    @include themify($themes) {
        padding: 20px 70px;
        position: sticky;
        top: 71.52px;
        height: calc(100vh - 71.52px);
        overflow: scroll;
        background-color: themed('bgSoft');

         // We dont want to display scroll bar
    &::-webkit-scrollbar{
        display: none;
}

    }
}