@import '../../style.scss';


    
    

.rightBar{
    @include themify($themes) {
   
    flex: 5;
    
    position: sticky;
    top: 71.52px;
    height: calc(100vh - 71.52px);
    overflow: scroll;
    background-color: themed('bgSoft');

    // We dont want to display scroll bar
    &::-webkit-scrollbar{
        display: none;
}
    .container{
        
        
        background-color:themed('bgSoft');

        .item{
            -webkit-box-shadow: -3px 4px 9px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -3px 4px 9px 0px rgba(0,0,0,0.75);
            box-shadow: -3px 4px 9px 0px rgba(0,0,0,0.75);
            padding: 20px;
            margin-bottom: 20px;
            background-color: themed('bgSoft');
            
          
            span{
                font-weight: 500;
                color:lightgray;
            }
            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                background-color: themed('bg');
                
                .userInfo{
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .online{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: green;
                        position: absolute;
                        top: 0;
                        left: 30px;
                    }

                    p{
                        color: themed('textColorSoft');
                    }

                    span{
                        font-weight: 500;
                        color:themed('textColor');
                    }
                }
                .buttons{
                display: flex;
                align-items: center;
                gap: 10px;
                    button{
                        border: none;
                        padding: 5px;
                        color: white;
                        cursor: pointer;
                        

                        &:first-child{
                            background-color: blue;
                        }
                        &:last-child{
                            background-color: red;
                        }
                    }
                }
            }
        }
    }


}
}